[submodule "problems/easy/crowdfunding/lib/forge-std"]
	path = problems/easy/crowdfunding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "problems/easy/timeLock/lib/forge-std"]
	path = problems/easy/timeLock/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
